body{
	text-align: center;
	font-family: "lucida console", Courier, monospace;
}

img {
	width: 100px;
	height: 100px; 
}

table{
	width: 700px;
	height: 600px;
	margin: auto;
}

tr{
	font-size: 15px;
}